@using ChatApplication.Service.ViewModels.UserViewModels
@model IEnumerable<AllUserViewModel>

@{
    ViewData["Title"] = "Contacts";
}

<h2>Contacts</h2>
<h3>All Users</h3>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Status</th>
            <th>Enter Direct</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>@(user.Status ? "Active" : "Inactive")</td>
                    <td><button class="button-65" role="button" onclick="openChatWindow('@user.Id', '@user.Username')">Enter Direct</button></td>
            </tr>
        }
    </tbody>
</table>
<script>
    function openChatWindow(userId, userName) {
        window.location.href = '/Contact/DirectChat?userId=' + userId + '&userName=' + userName;
    }
</script>